*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.quote1 > ul{
    list-style-type: circle;
    margin-top: 5px;
    margin-bottom: 0;
}
.quote2 > ol{
    list-style-image: url('./assets/star.png');
    margin-top: 5px;
    margin-bottom: 0;
}
.quote3 > ul{
    list-style-type: upper-roman;
    margin-top: 5px;
    margin-bottom: 0;
}
.quote4 > ol{
    list-style-type: lower-alpha;
    margin-top: 5px;
    margin-bottom: 0;
}
.quote5 > ol{
    list-style-type: decimal;
    margin-top: 5px;
    margin-bottom: 0;
}

.quote1,.quote2,.quote3,.quote4,.quote5{
    width: 40vw;
    background-color: rgb(198, 254, 245);
    border: 3px solid;
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.quote1:hover,.quote2:hover,.quote3:hover,.quote4:hover,.quote5:hover{
    font-size: larger;
    cursor: pointer;
}